<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @invoice_state.Name %>
</p>

<%= link_to 'Edit', edit_invoice_state_path(@invoice_state) %> |
<%= link_to 'Back', invoice_states_path %>
